@import '../../../styles';

.card {
    margin: 10px;
    &-header {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto auto 1fr;
        background-color: $green;
        color: $white;
        gap: 10px;
        align-items: center;
    }

    &-header,&-body,&-footer {
        padding: 0 10px 0 10px;
    }

    @include box-shadow();
}