
<app-toolbar
  [title]="title"
>
    <ul>
        <li>
            Components
        </li>
        <li>
            Directives
        </li>
        <li>
            Services
        </li>
        <li>
            Pipes
        </li>
        <li>
            Others
        </li>
    </ul>
</app-toolbar>
<app-card
    className="fa-solid fa-face-grin-squint-tears fa-shake"
    title="This is my Card Title"
    subTitle="This is my card Subtitle"
>
    <p footer>This is my card footer</p>
    <p body>This is my card body</p>
</app-card>
<app-card
    className="fa-solid fa-face-grin-squint-tears fa-shake"
    title="Accordion card"
    subTitle="This is my accordion card"
>
    <app-accordion
        body
        [items]="accordionItems"
    >
    </app-accordion>
</app-card>
<router-outlet></router-outlet>
