
<app-toolbar
  [title]="title"
>
    <ul>
        <li class="router-link" [routerLink]="routes.COMPONENTS_URI">
            Components
        </li>
        <li class="router-link" [routerLink]="routes.DIRECTIVES_URI">
            Directives
        </li>
        <li class="router-link" [routerLink]="routes.SERVICES_URI">
            Services
        </li>
        <li class="router-link" [routerLink]="routes.PIPES_URI">
            Pipes
        </li>
        <li class="router-link" [routerLink]="routes.OTHERS_URI">
            Others
        </li>
    </ul>
</app-toolbar>
<router-outlet></router-outlet>
