@import '../../../styles';

.card-payment-container {
    margin: 10px 0 10px 0;
    position: relative;
    input {
        padding: 0 0 0 35px;
        margin: 10px 0 10px 0;
        height: 2em;

        border: 0;
        border-radius: 10px;
        @include box-shadow();
    }
    i {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}