@import '../../../styles';

.container {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: $blue;
    color: $white;
    padding: 10px;
    align-items: center;

    @include box-shadow();

    @media screen and (max-width: $tablet) {
        grid-template-columns: 1fr;
    }

    /* First child is title, second is ng-content */
    ::ng-deep > :nth-child(2){
        display: grid;
        grid-auto-flow: column;
        gap: 10px;
        list-style-type: none;
    }
}